:root {
  --text-color: #3e4147;
  --back-color: #ffffff;
  --third-color: #df8e58;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fall {
  0% {
    margin-top: -60rem;
  }
  100% {
    margin-top: -7.5rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  background-color: var(--back-color);
}

.nav_button-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  align-items: center;
  background-color: var(--back-color);
  height: 100%;
  overflow-y: auto;
  font-size: 1.75rem;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.35s;
}

.nav_button-container--li {
  list-style: none;
  line-height: 6rem;
  font-weight: bold;
}

.nav_button-container a {
  color: var(--text-color);
  text-decoration: none;
}

.open-menu {
  display: flex;
  border: none;
  background: none;
}

.open-menu img {
  margin: 0.6rem;
  width: 4.2rem;
}

.close-menu {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  align-self: flex-end;
}

.close-menu img {
  margin: 1.3rem;
  width: 2.5rem;
}

.menu_opened {
  opacity: 1;
  pointer-events: all;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.description .description__name {
  font-size: 1.5rem;
}

.description h1 {
  font-size: 1.5rem;
  color: var(--text-color);
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 1.6s;
}

.description h2 {
  font-size: 0rem;
}

.father-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.father-img .img {
  width: 100%;
  background: none;
  max-width: 7rem;
  animation: fadeIn 0.8s;
}

.knowledge {
  width: 100%;
  height: 140rem;
  display: flex;
  flex-wrap: wrap;
}

.knowledge h2,
p {
  font-size: 1.5rem;
  color: var(--text-color);
  text-align: center;
  width: 100%;
  animation: fadeIn 0.8s;
}

.knowledge__habilidades {
  width: 100%;
  height: 9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem;
}

.father-img .logo {
  background: none;
  width: 4rem;
  animation: fadeIn 0.8s;
}

.figure .father-img .sql {
  background: none;
  width: 6.5rem;
  height: 8rem;
}

.figure .father-img .html-css {
  background: none;
  width: 3.2rem;
}

.father-img .logo:hover {
  filter: brightness(1.2);
  transition: all ease-in-out 350ms;
}

.knowledge__conocimientos {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -2rem;
}

.knowledge p {
  margin-top: 0.6rem;
  font-size: 1.25rem;
  color: var(--text-color);
  animation: fadeIn 0.8s;
}

.projects {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.projects h2 {
  width: 100%;
  text-align: center;
  margin-bottom: -1.5rem;
}

.projects a {
  color: var(--text-color);
}

.projects__container {
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects__example {
  margin: 3rem;
  width: 12rem;
  height: 11rem;
  border-radius: 2rem;
  animation: fadeIn 0.8s;
}

.projects a {
  text-decoration: none;
  text-align: center;
  font-size: 1.25rem;
}

.forms {
  color: #181a1d;
  background-color: var(--third-color);
  height: 5%;
  width: 100%;
}

.forms article {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms h1 {
  font-size: 1.2rem;
  color: var(--back-color);
  animation: fadeIn 0.8s;
}

.icon__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon__container img {
  width: 3rem;
  margin: 0.5rem 2rem;
  animation: fadeIn 0.8s;
}

.square-y {
  margin-top: -6rem;
  margin-left: 7.5rem;
  width: 1.6rem;
  height: 5rem;
  background-color: #df8e58c7;
}

.square-x {
  margin-top: -0.8rem;
  margin-left: 2.75rem;
  width: 6.75rem;
  height: 0.8rem;
  background-color: #df8e58c7;
}

.big-circle {
  margin-top: -7.5rem;
  margin-left: 2rem;
  width: 10rem;
  height: 10rem;
  background-color: #df8e5862;
  border-radius: 5rem;
  animation: fall 1s;
}

@media (min-width: 800px) {
  @keyframes fall {
    0% {
      margin-left: -100rem;
    }
    100% {
      margin-right: -7.5rem;
    }
  }

  .open-menu,
  .close-menu {
    display: none;
  }

  .nav_button-container {
    background-color: var(--back-color);
    width: 100%;
    height: 8rem;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    overflow-y: hidden;
    opacity: 1;
    pointer-events: all;
  }

  .nav_button-container a {
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 0 3.5rem;
    transition: all ease-in-out 220ms;
  }

  .nav_button-container a:hover {
    color: var(--third-color);
  }

  .description {
    align-items: center;
    height: 70rem;
  }

  .description .description__name {
    width: 100%;
    text-align: start;
    font-size: 1.75rem;
  }

  .description h1 {
    margin-left: 15rem;
    text-align: left;
    align-items: center;
    font-size: 1.75rem;
    width: 50%;
  }

  .description h2 {
    margin-top: -6rem;
    text-align: left;
    align-items: center;
    font-size: 4rem;
    width: 50%;
    color: #000000;
    animation: fadeIn 1.3s cubic-bezier(0.8, -0.7, 0.99, 0.9);
  }

  .description figure {
    margin-right: -5rem;
    width: 30%;
  }

  .description picture {
    justify-content: start;
    display: flex;
  }

  .description .img {
    margin-top: 2rem;
    justify-content: start;
    width: 30%;
  }

  .square-y {
    margin-top: -6rem;
    margin-left: 5rem;
    width: 1.6rem;
    height: 5rem;
    background-color: #df8e58c7;
  }

  .square-x {
    margin-top: -0.8rem;
    margin-left: 0rem;
    width: 7rem;
    height: 0.8rem;
    background-color: #df8e58c7;
  }

  .big-circle {
    margin-top: -7.5rem;
    margin-left: -0.5rem;
    width: 10rem;
    height: 10rem;
    background-color: #df8e5862;
    border-radius: 5rem;
  }

  .knowledge {
    width: 100%;
    justify-content: space-evenly;
    height: 70rem;
  }

  .knowledge .knowledge__habilidades {
    margin-left: 50rem;
    padding-left: 10.5rem;
    width: 20%;
    height: 10rem;
    display: flex;
    margin: 0;
  }

  .knowledge__conocimientos {
    margin-top: 0;
    width: 50%;
    height: 10rem;
    display: flex;
  }

  .knowledge h2 {
    font-size: 1.75rem;
  }
  .knowledge p {
    font-size: 1.5rem;
  }

  .knowledge .logo {
    justify-content: center;
    padding-top: 1.25rem;
    /* width: 4rem; */
  }

  .projects {
    margin-top: 20rem;
  }

  .projects h2 {
    margin-top: 5rem;
    margin-bottom: 1.7rem;
  }

  .projects__container {
    margin-top: 1.7rem;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .projects .projects__example {
    margin: 1rem 5rem;
  }

  .forms h1 {
    font-size: 1.5rem;
  }

  /* .forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 30%;
  }

  .forms article {
    width: 50rem;
  }


  .forms form {
    display: flex;
    flex-wrap: wrap;
  }

  .forms label {
    display: flex;
    flex-wrap: wrap;
  }

  .forms input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .div__name,
  .div__mail {
    width: 50%;
  }

  .div__message textarea {
    width: 49rem;
    height: 15rem;
  } */
}
